[submodule "service/latex-server"]
	path = service/latex-server
	url = https://github.com/sir-labs/latex-server
[submodule "service/psoriasis-service"]
	path = service/psoriasis-service
	url = git@gitlab.nectec.or.th:skinmedai/psoriasis_service.git
[submodule "service/sir-voice"]
	path = service/sir-voice
	url = https://github.com/sir-labs/sir-voice
